{%extends "base.html" %}
{% block title %} BEB SNPs {% endblock %}
{% block content %}


<center><h3> SNP information from Bengali individuals in Bangladesh (BEB) </h3></center>

<br>
<br>

<div class="clusterize-scroll table table-striped table-bordered" id="scrollArea" > <!-- Remove cluserize to make it full page table-->
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm ">

        <tbody id="contentArea" class="clusterize-content "> 

        {{BEB|safe}}

        </tbody>
    
    </table>
</div>

<div style="padding-left: 50px;">
  <a href="#" id="download" class= "btn btn-danger" > Download! </a>
</div>


{% endblock %}